* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #f5f5f5;
}

.container .col-sm-6 {
    padding: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
    background: #fff;
    border-radius: 8px;
    border: 3px solid orange;
    text-align: center;
}

ul {
    overflow: hidden;
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
}
li {
    display: inline-block;
    border: 2px solid orange;
    border-radius: 5px;
    padding: 15px;
    margin: 0 5px;
}
label {
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
}
#AddTaskInput {
    border: 2px solid orange;
}